In [8]:
import pandas as pd 
df1 = pd.read_csv("firstjoin.csv",index_col='date', parse_dates=['date'])
df1.head()
df1.dtypes

price     object
open      object
high      object
low       object
volume    object
change    object
value      int64
dtype: object

In [9]:
df2 = pd.read_csv("activeadd.csv", parse_dates=['date'])
df2['date'] = df2['date'].dt.strftime('%Y-%m-%d')
df2["date"] = df2["date"].astype("datetime64[ns]")
df2["address"] = df2["address"].astype("float")
df2 = df2.set_index('date')
df2.dtypes

address    float64
dtype: object

In [10]:
df3 = pd.read_csv("mined.csv", parse_dates=['date'])
df3['date'] = df3['date'].dt.strftime('%Y-%m-%d')
df3["date"] = df3["date"].astype("datetime64[ns]")
df3["mined"] = df3["mined"].astype("float")
df3 = df3.set_index('date')
df3

                 mined
date
2022-10-31  19194825.0
2022-10-30  19193700.0
2022-10-29  19193025.0
2022-10-28  19192125.0
2022-10-27  19191000.0
...                ...
2009-01-06        50.0
2009-01-05        50.0
2009-01-04        50.0
2009-01-03        50.0
2009-01-02        50.0

[5051 rows x 1 columns]

In [11]:
result = pd.merge(df1, df2, left_index=True, right_index=True)
result = pd.merge(result, df3, left_index=True, right_index=True)
result.to_csv('btcjoin.csv')

result

,price,open,high,low,volume,change,value,address,mined
date,,,,,,,,,
2010-09-25,0.1,0.1,0.1,0.1,2.15K,0.00%,2,656.0,4109450.00
2010-09-26,0.1,0.1,0.1,0.1,12.06K,0.00%,2,444.0,4110750.00
2010-09-27,0.1,0.1,0.1,0.1,10.75K,0.00%,2,1070.0,4132150.00
2010-09-28,0.1,0.1,0.1,0.1,7.09K,0.00%,2,1503.0,4133200.00
2010-09-29,0.1,0.1,0.1,0.1,23.48K,0.00%,2,1049.0,4148050.00
...,...,...,...,...,...,...,...,...,...
2022-10-21,"19,162.60","19,042.90","19,245.50","18,703.30",294.66K,0.63%,84879615,924681.0,19185681.25
2022-10-22,"19,204.80","19,162.60","19,249.90","19,116.10",118.24K,0.22%,84888147,830404.0,19186618.75
2022-10-23,"19,571.20","19,204.80","19,680.90","19,092.50",180.63K,1.91%,84893809,804140.0,19187600.00
2022-10-24,"19,331.50","19,571.20","19,588.60","19,177.20",286.94K,-1.22%,84902680,919344.0,19188556.25
2022-10-25,"20,073.10","19,331.80","20,406.90","19,249.00",365.73K,3.84%,84909074,826804.0,19189162.50

In [12]:
result = result.drop(columns=['volume','change', 'low', 'high', 'open'])
result = result.rename(columns={"value": "wallets"})
result['price']=result['price'].str.replace(',','')
result['price']=result['price'].astype("float")
result['Metcafe']=result['address']**2
# df["Metcafe"] = df["Metcafe"].map("{:.1f}".format)
result['value'] = result['Metcafe']/result['mined']
result["value"] = result["value"].map("{:.2f}".format)
result['value']=result['value'].astype("float")
result['networkvalue'] = result["price"] - result["value"]

result

,price,wallets,address,mined,Metcafe,value,networkvalue
date,,,,,,,
2010-09-25,0.1,2,656.0,4109450.00,4.303360e+05,0.10,0.00
2010-09-26,0.1,2,444.0,4110750.00,1.971360e+05,0.05,0.05
2010-09-27,0.1,2,1070.0,4132150.00,1.144900e+06,0.28,-0.18
2010-09-28,0.1,2,1503.0,4133200.00,2.259009e+06,0.55,-0.45
2010-09-29,0.1,2,1049.0,4148050.00,1.100401e+06,0.27,-0.17
...,...,...,...,...,...,...,...
2022-10-21,19162.6,84879615,924681.0,19185681.25,8.550350e+11,44566.31,-25403.71
2022-10-22,19204.8,84888147,830404.0,19186618.75,6.895708e+11,35940.19,-16735.39
2022-10-23,19571.2,84893809,804140.0,19187600.00,6.466411e+11,33700.99,-14129.79
2022-10-24,19331.5,84902680,919344.0,19188556.25,8.451934e+11,44046.74,-24715.24
2022-10-25,20073.1,84909074,826804.0,19189162.50,6.836049e+11,35624.53,-15551.43

In [13]:
result.to_json (r'C:\Users\16474\Desktop\Coding\Project\Resources\btcjson.json')